.Subreddits{
    text-decoration: none;
    color: rgb(170, 170, 170);
}

.Subreddits:hover {
    color: rgb(225, 225, 225);
}

.Subreddits:visited {
    color: rgb(170, 170, 170);
}

.Subreddits li {
    margin-bottom: 20px;
    font-weight: bold;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.ShowSubs li {
    opacity: 1;
}

