.Content {
    display: flex;
    justify-content: space-around;
}

.Subreddits {
    height: 100%;
    width: 13%;
    background-color: rgb(62, 62, 62);
    border-radius: 20px;
    color: rgb(170, 170, 170);
    list-style: none;
    padding: 25px 25px 0 25px;
    box-sizing: border-box;
}

.Subreddits h3 {
    margin: 0 auto 20px auto;
    font-size: 22px;
}

.Post {
    height: 100%;
    width: 83%;
    margin-top: 16px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}

