.ProfileComments {
    display: flex;
    flex-flow: column;
    background-color: rgb(62, 62, 62);
    color: rgb(170, 170, 170);
    border-radius: 20px;
    height: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 25px 25px 10px 25px;
}

.ProfileComments a {
    color: lightblue;
}

.Title {
    display: flex;
}

.Title p {
    margin-right: 5px;
}

.Title a {
    color: rgb(0, 167, 125);
    text-decoration: none;
}

.Title a:hover {
    color: rgb(0, 194, 145);
}
