.Navbar {
    border-bottom: 5px solid rgb(0, 167, 125);
    display: flex;
    flex-flow: column;
}

.Navbar p {
    font-weight: bold;
    color: white;
    margin-right: 25px;
    margin-left: 25px;
}

.Navbar a,
.Navbar a:visited {
    color: white;
}

.MySubreddits {
     position: relative;
}

.Subreddits {
    position: absolute;
    width: 0px;
    background-color: rgb(62, 62, 62);
    color: rgb(170, 170, 170);
    padding: 25px 25px 0 25px;
    list-style: none;
    margin-top: 0px;
    box-sizing: border-box;
    transform: translateX(-50px);
    transition: width 0.1s linear;
}

.Subreddits h3 {
    margin: 0 auto 20px auto;
    font-size: 22px;
}

.ShowSubs {
    width: 250px;
    transform: translateX(0);
}

.UserInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(0, 167, 125);
}

.UserInfo a {
    text-decoration: none;
}

.UserInfo p:hover {
    color: rgb(0, 167, 125);
    cursor: pointer;
}

.RightContent {
    display: flex;
}

.RightContent img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

.RightContent ul {
    display: flex;
    align-items: center;
}

.RightContent ul li {
    list-style: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    font-size: 22px;
}

.RightContent ul li:hover {
    cursor: pointer;
}

.RightContent ul li::after {
    content: '';
    display: block;
    width: 0;
    padding: 2px;
    opacity: 0;
    background-color: rgb(0, 167, 125);
    transition: width linear 0.12s;
}

.RightContent ul li:hover::after {
    width: 100%;
    opacity: 1;
}



